#container {
  width: 600px;
}

.flex-container {
  background: peachpuff;
  display: flex;
  flex-direction: column;
}

.outer-box {
  background: blueviolet;
  display: flex;
}

.inner-box {
  background: white;
  flex: 1;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
}

.draw {
  background: black;
}